@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* 1️⃣ Reset & Normalize Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 2️⃣ Global Variables */
:root {
  --primary-color: #ff5e17;
  --secondary-color: #1d1e21;
  --secondary-lighter: rgb(45, 46, 48);
  --text-color: #ffffff;
  --font-family: "Oswald", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* 3️⃣ Apply Global Styles */
html,
body {
  font-family: var(--font-family);
  line-height: 1.6;
  overflow-x: hidden;
}

/* Default Styles for Headings with clamp for responsiveness */
h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}
h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}
h3 {
  font-size: clamp(1.5rem, 3.5vw, 2rem);
}
h4 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}
h5,
h6 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
p {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* 4️⃣ Utility Classes */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 6rem;
  box-sizing: border-box;
}


.btn {
  display: inline-block;
  padding: clamp(6px, 1vw, 12px) clamp(12px, 2vw, 24px);
  border: none;
  outline: 2px solid var(--primary-color);
  border-radius: 999px;
  background-color: var(--primary-color);
  color: white;
  font-size: clamp(12px, 1.2vw, 16px);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
@media (max-width: 768px) {
  .container {
    text-align: center;
    padding: 2rem;
  }
}
