.footer {
  background: var(--secondary-color);
  color: var(--text-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.footer-upper-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}
.footer-upper-main-heading {
  display: flex;
  align-items: center;
}
.footer-upper-main-heading img {
  width: 50px;
  height: 50px;
}
.footer-upper-main-heading h3 span {
  color: var(--primary-color);
}
.footer-upper-main-rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.footer-upper-main-rest-follow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.footer-upper-main-rest-follow h6 {
  font-size: 20px;
}
.footer-upper-main-rest-follow-icons {
  display: flex;
  gap: 1rem;
}
.footer-upper-main-rest-follow-icons a {
  border: 1px solid rgb(126, 126, 126);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.3s ease;
  border-radius: 50%;
}
.footer-upper-main-rest-follow-icons a:hover {
  background-color: var(--primary-color);
}
.footer-upper-links {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}
.footer-upper-links-rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.footer-upper-links-rest li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.footer-upper-links-rest li a:hover {
  color: var(--primary-color);
}
.footer-upper-contact {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}
.footer-upper-contact-rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.footer-upper-contact-rest-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-upper-contact-rest-details-location,
.footer-upper-contact-rest-details-phone,
.footer-upper-contact-rest-details-email {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .footer-upper {
    flex-direction: column;
    gap: 4rem;
  }
  .footer-upper-main-heading {
    justify-content: center;
  }
  .footer-upper-main-rest {
    align-items: center;
  }
  .footer-upper-main-rest-follow {
    align-items: center;
  }
  .footer-upper-links-rest {
    align-items: center;
  }
  .footer-upper-contact-rest {
    align-items: center;
  }
  .footer-upper-contact-rest-details-location,
  .footer-upper-contact-rest-details-phone,
  .footer-upper-contact-rest-details-email {
    text-align: left;
  }
}
.footer-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
